@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;

  /* Colores Bonami */
  --bon-celeste: #81CAD6;  
  --bon-amarillo: #FCBF49;  
  --bon-rojo: #D62828;
  --bon-rojosuave: #c62a2a;   
  --bon-naranja:#F77F00;
  --bon-azul:#003049;
  --bon-azuloscuro:#091f2b;
  --bon-verde: #38c87e;  
  --bon-verdesuave: #59df9a; 
  --bon-beige:#c7be9b;  
  --bon-beigebajo:#fae7bf; 
  --bon-negro:#000000; 
  --bon-negrosuave:#0d0909; 
  --bon-color:#2A120F;
  --bon-color:#CE3234; 
  --bon-color:#F39436; 
  --bon-color:#F8CD61; 
  --bon-color:#44A595; 
  --bon-color:#FEF6E4;  

}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

/* video rosa */
/* https://v1.pinimg.com/videos/iht/hls/16/94/bd/1694bda26af4cd302db3678aa2628da5.m3u8 */


/* video abeja */
/* https://v1.pinimg.com/videos/iht/hls/f8/e9/68/f8e968b1713ecc07328d88ec9d49dd09.m3u8 */